In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Object Creation

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20130101', periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.738365  0.036743 -0.951394 -2.064951
2013-01-02  0.306218 -1.482475 -0.581855  0.037384
2013-01-03 -0.648648 -0.298402  1.376492  1.058009
2013-01-04  3.530823 -0.051608 -0.538960 -1.309689
2013-01-05 -1.110987 -0.126852  0.341345 -1.064722
2013-01-06  0.529037  0.881158 -0.023399 -0.684465

In [9]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [10]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

Viewing Data

In [ ]:
df.head()

In [ ]:
df.tail(3)

In [ ]:
df.tail(3)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

In [ ]:
df.describe()

In [ ]:
df.Tdf.sort_index(axis=1, ascending=False)

In [ ]:
df.sort_values(by='B')

Selection

Getting

In [ ]:
df['A']

In [ ]:
df[0:3]

In [ ]:
df['20130102':'20130104']

Selection by Label

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc[:,['A','B']]

In [ ]:
df.loc['20130102':'20130104',['A','B']]

In [ ]:
df.loc['20130102',['A','B']]

In [ ]:
df.loc[dates[0],'A']

In [ ]:
df.at[dates[0],'A']

Selection by Position

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[3:5,0:2]

In [ ]:
df.iloc[[1,2,4],[0,2]]

In [ ]:
df.iloc[1:3,:]

In [ ]:
df.iloc[:,1:3]

In [ ]:
df.iloc[1,1]

In [ ]:
df.iat[1,1]

Boolean Indexing

In [ ]:
df[df.A > 0]

In [ ]:
df[df > 0]

In [ ]:
df2 = df.copy()

In [ ]:
df2['E'] = ['one', 'one','two','three','four','three']

In [ ]:
df2

In [ ]:
df2[df2['E'].isin(['two','four'])]

Setting

In [ ]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))

In [ ]:
s1

In [ ]:
df['F'] = s1

In [ ]:
df.at[dates[0],'A'] = 0

In [ ]:
df.iat[0,1] = 0

In [ ]:
df.loc[:,'D'] = np.array([5] * len(df))

In [ ]:
df

In [ ]:
df2 = df.copy()

In [ ]:
df2[df2 > 0] = -df2

In [ ]:
df2

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [ ]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [ ]:
df1

In [ ]:
df1.dropna(how='any')

In [ ]:
df1.fillna(value=5)

In [ ]:
pd.isnull(df1)

Operations

Stats

In [ ]:
df.mean()

In [ ]:
df.mean(1)

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)

In [ ]:
s

In [ ]:
df.sub(s, axis='index')