Pandas - Series & Dataframes

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import re
import math

In [ ]:
import warnings
warnings.filterwarnings("ignore")

Series

Create Series

In [ ]:
# Create series from Nump Array
v = np.array([1,2,3,4,5,6,7])
s1 = pd.Series(v)
s1

In [ ]:
#Datatype of Series
s1.dtype

In [ ]:
# number of bytes allocated to each item
s1.itemsize

In [ ]:
# Number of bytes consumed by Series
s1.nbytes

In [ ]:
# Shape of the Series
s1.shape

In [ ]:
# number of dimensions
s1.ndim

In [ ]:
# Length of Series
len(s1)

In [ ]:
s1.count()

In [ ]:
s1.size

In [ ]:
# Create series from List
s0 = pd.Series([1,2,3],index = ['a','b','c'])
s0

In [ ]:
# Modifying index in Series
s1.index = ['a' , 'b' , 'c' , 'd' , 'e' , 'f' , 'g']
s1

In [ ]:
# Create Series using Random and Range function
v2 = np.random.random(10)
ind2 = np.arange(0,10)
s = pd.Series(v2,ind2)
v2 , ind2 , s

In [ ]:
# Creating Series from Dictionary
dict1 = {'a1' :10 , 'a2' :20 , 'a3':30 , 'a4':40}
s3 = pd.Series(dict1)
s3

In [ ]:
pd.Series(99, index=[0, 1, 2, 3, 4, 5])

Slicing Series

In [ ]:
s

In [ ]:
# Return all elements of the series
s[:]

In [ ]:
# First three element of the Series
s[0:3]

In [ ]:
# Last element of the Series
s[-1:]

In [ ]:
# Fetch first 4 elements in a series
s[:4]

In [ ]:
# Return all elements of the series except last two elements.
s[:-2]

In [ ]:
# Return all elements of the series except last element.
s[:-1]

In [ ]:
# Return last two elements of the series
s[-2:]

In [ ]:
# Return last element of the series
s[-1:]

In [ ]:
s[-3:-1]

Append Series

In [ ]:
s2 = s1.copy()
s2

In [ ]:
s3

In [ ]:
# Append S2 & S3 Series
s4 = s2.append(s3)
s4

In [ ]:
# When "inplace=False" it will return a new copy of data with the operation performed
s4.drop('a4' , inplace=False)

In [ ]:
s4

In [ ]:
# When we use "inplace=True" it will affect the dataframe
s4.drop('a4', inplace=True)
s4

In [ ]:
s4 = s4.append(pd.Series({'a4': 7}))
s4

Operation on Series

In [ ]:
v1 = np.array([10,20,30])
v2 = np.array([1,2,3])
s1 = pd.Series(v1)
s2 = pd.Series(v2)
s1 , s2

In [ ]:
# Addition of two series
s1.add(s2)

In [ ]:
# Subtraction of two series
s1.sub(s2)

In [ ]:
# Subtraction of two series
s1.subtract(s2)

In [ ]:
# Increment all numbers in a series by 9
s1.add(9)

In [ ]:
# Multiplication of two series
s1.mul(s2)

In [ ]:
# Multiplication of two series
s1.multiply(s2)

In [ ]:
# Multiply each element by 1000
s1.multiply(1000)

In [ ]:
# Division
s1.divide(s2)

In [ ]:
# Division
s1.div(s2)

In [ ]:
# MAX number in a series
s1.max()

In [ ]:
# Min number in a series
s1.min()

In [ ]:
# Average
s1.mean()

In [ ]:
# Median
s1.median()

In [ ]:
# Standard Deviation
s1.std()

In [ ]:
# Series comparison
s1.equals(s2)

In [ ]:
s4 =s1

In [ ]:
# Series comparison
s1.equals(s4)

In [ ]:
s5 = pd.Series([1,1,2,2,3,3], index=[0, 1, 2, 3, 4, 5])
s5

In [ ]:
s5.value_counts()