Pandas - Series & Dataframes

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import re
import math

In [ ]:
import warnings
warnings.filterwarnings("ignore")

Series

Create Series

In [ ]:
# Create series from Nump Array
v = np.array([1,2,3,4,5,6,7])
s1 = pd.Series(v)
s1

In [ ]:
#Datatype of Series
s1.dtype

In [ ]:
# number of bytes allocated to each item
s1.itemsize

In [ ]:
# Number of bytes consumed by Series
s1.nbytes

In [ ]:
# Shape of the Series
s1.shape

In [ ]:
# number of dimensions
s1.ndim

In [ ]:
# Length of Series
len(s1)

In [ ]:
s1.count()

In [ ]:
s1.size

In [ ]:
# Create series from List
s0 = pd.Series([1,2,3],index = ['a','b','c'])
s0

In [ ]:
# Modifying index in Series
s1.index = ['a' , 'b' , 'c' , 'd' , 'e' , 'f' , 'g']
s1

In [ ]:
# Create Series using Random and Range function
v2 = np.random.random(10)
ind2 = np.arange(0,10)
s = pd.Series(v2,ind2)
v2 , ind2 , s

In [ ]:
# Creating Series from Dictionary
dict1 = {'a1' :10 , 'a2' :20 , 'a3':30 , 'a4':40}
s3 = pd.Series(dict1)
s3

In [ ]:
pd.Series(99, index=[0, 1, 2, 3, 4, 5])

Slicing Series

In [ ]:
s

In [ ]:
# Return all elements of the series
s[:]

In [ ]:
# First three element of the Series
s[0:3]

In [ ]:
# Last element of the Series
s[-1:]

In [ ]:
# Fetch first 4 elements in a series
s[:4]

In [ ]:
# Return all elements of the series except last two elements.
s[:-2]

In [ ]:
# Return all elements of the series except last element.
s[:-1]

In [ ]:
# Return last two elements of the series
s[-2:]

In [ ]:
# Return last element of the series
s[-1:]

In [ ]:
s[-3:-1]

Append Series

In [ ]:
s2 = s1.copy()
s2

In [ ]:
s3

In [ ]:
# Append S2 & S3 Series
s4 = s2.append(s3)
s4

In [ ]:
# When "inplace=False" it will return a new copy of data with the operation performed
s4.drop('a4' , inplace=False)

In [ ]:
s4

In [ ]:
# When we use "inplace=True" it will affect the dataframe
s4.drop('a4', inplace=True)
s4

In [ ]:
s4 = s4.append(pd.Series({'a4': 7}))
s4

Operation on Series

In [ ]:
v1 = np.array([10,20,30])
v2 = np.array([1,2,3])
s1 = pd.Series(v1)
s2 = pd.Series(v2)
s1 , s2

In [ ]:
# Addition of two series
s1.add(s2)

In [ ]:
# Subtraction of two series
s1.sub(s2)

In [ ]:
# Subtraction of two series
s1.subtract(s2)

In [ ]:
# Increment all numbers in a series by 9
s1.add(9)

In [ ]:
# Multiplication of two series
s1.mul(s2)

In [ ]:
# Multiplication of two series
s1.multiply(s2)

In [ ]:
# Multiply each element by 1000
s1.multiply(1000)

In [ ]:
# Division
s1.divide(s2)

In [ ]:
# Division
s1.div(s2)

In [ ]:
# MAX number in a series
s1.max()

In [ ]:
# Min number in a series
s1.min()

In [ ]:
# Average
s1.mean()

In [ ]:
# Median
s1.median()

In [ ]:
# Standard Deviation
s1.std()

In [ ]:
# Series comparison
s1.equals(s2)

In [ ]:
s4 =s1

In [ ]:
# Series comparison
s1.equals(s4)

In [ ]:
s5 = pd.Series([1,1,2,2,3,3], index=[0, 1, 2, 3, 4, 5])
s5

In [ ]:
s5.value_counts()

DataFrame

Create DataFrame

In [ ]:
df = pd.DataFrame()
df

In [ ]:
# Create Dataframe using List
lang = ['Java' , 'Python' , 'C' , 'C++']
df = pd.DataFrame(lang)
df

In [ ]:
# Add column in the Dataframe
rating = [1,2,3,4]
df[1] = rating
df

In [ ]:
df.columns = ['Language','Rating']

In [ ]:
df

In [ ]:
# Create Dataframe from Dictionary
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df2 = pd.DataFrame(data)
df3 = pd.DataFrame(data, index=['row1', 'row2'], columns=['a', 'b'])
df4 = pd.DataFrame(data, index=['row1', 'row2'], columns=['a', 'b' ,'c'])
df5 = pd.DataFrame(data, index=['row1', 'row2'], columns=['a', 'b' ,'c' , 'd'])

In [ ]:
df2

In [ ]:
df3

In [ ]:
df4

In [ ]:
df5

In [ ]:
# Create Dataframe from Dictionary
df0 = pd.DataFrame({'ID' :[1,2,3,4] , 'Name' :['Asif' , 'Basit' , 'Ross' , 'John']})
df0

In [ ]:
# Create a DataFrame from Dictionary of Series
dict = {'A' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'B' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df1 = pd.DataFrame(dict)
df1

In [ ]:
dates = pd.date_range(start='2020-01-20', end='2020-01-26')
dates

In [ ]:
dates = pd.date_range('today',periods= 7)
dates

In [ ]:
dates = pd.date_range(start='2020-01-20', periods=7)
dates

In [ ]:
M = np.random.random((7,7))
M

In [ ]:
dframe = pd.DataFrame(M , index=dates)
dframe

In [ ]:
#Changing Column Names
dframe.columns = ['C1' , 'C2' , 'C3', 'C4', 'C5', 'C6', 'C7']
dframe

In [ ]:
# List Index
dframe.index

In [ ]:
# List Column Names
dframe.columns

In [ ]:
# Datatype of each column
dframe.dtypes

In [ ]:
# Sort Dataframe by Column 'C1' in Ascending Order
dframe.sort_values(by='C1')

In [ ]:
# Sort Dataframe by Column 'C1' in Descending Order
dframe.sort_values(by='C1' , ascending=False)

Delete Column in DataFrame

In [ ]:
df1

In [ ]:
# Delete Column using "del" function
del df1['B']

In [ ]:
df1

In [ ]:
df5

In [ ]:
# Delete Column using pop()
df5.pop('c')

In [ ]:
df5

In [ ]:
dict = {'A' : pd.Series([1, 2, 3,11], index=['a', 'b', 'c','d']),
'B' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df12 = pd.DataFrame(dict)
df12

In [ ]:
df12.drop(['A'], axis=1,inplace=True)
df12

Delete Rows in DataFrame

In [ ]:
col1 = np.linspace(10, 100, 30)
col2 = np.random.randint(10,100,30)
df10 = pd.DataFrame({"C1" : col1 , "C2" :col2})
df10

In [ ]:
# Delete rows with index values 17,18,19
df10 = df10.drop([17,18,19], axis=0)
df10

In [ ]:
# Delete rows with index values 16 without using assignment operation
df10.drop([16], axis=0,inplace=True)
df10

In [ ]:
df10.drop(df10.index[5] , inplace=True)
df10

In [ ]:
#Delete first three rows
df10 = df10.iloc[3:,]
df10

In [ ]:
#Delete last four rows
df10 = df10.iloc[:-4,]
df10

In [ ]:
#Keep top 10 rows
df10 = df10.iloc[:10,]
df10

In [ ]:
df10

In [ ]:
df10.index[df10['C2'] == 56].tolist()

In [ ]:
# Delete row based on Column value
df10.drop(df10.index[df10['C2'] == 56].tolist() , axis=0,inplace=True)
df10

In [ ]:
# Delete row based on Column value
df10 = df10.drop(df10[df10["C2"]==79].index)
df10

In [ ]:
# Delete all rows with column C2 value 14
df10 = df10[df10.C2 != 44]
df10

In [ ]:
# Delete all rows with column C2 value 88 & 55 using isin operator
df10 = df10[~(df10.C2.isin ([21,48]))]
df10

In [ ]:
# Keep all rows with column C2 value 10,89,31 & 64 using isin operator
df10 = df10[df10.C2.isin ([42,76])]
df10

In [ ]:
dict = {'A' : pd.Series([1, 2, 3,11], index=['a', 'b', 'c','d']),
'B' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df11 = pd.DataFrame(dict)
df11

In [ ]:
#Delete all rows with label "d"
df11.drop("d", axis=0,inplace=True)
df11

In [ ]:
df13 = pd.DataFrame({'ID' :[1,2,3,4] ,
                     'Name' :['Asif' , 'Basit' , 'Ross' , 'John'] ,
                     'location' : ['India' , 'Australia','UK' , 'US'] })
df13

In [ ]:
ind = df13[((df13.Name == 'Ross') &(df13.ID == 3) & (df13.location == 'UK'))].index
df13.drop(ind,inplace=True)
df13

Data Selection in Dataframe

In [ ]:
df

In [ ]:
df.index = [1,2,3,4]
df

In [ ]:
# Data selection using row label
df.loc[1]

In [ ]:
# Data selection using position (Integer Index based)
df.iloc[1]

In [ ]:
df.loc[1:2]

In [ ]:
df.iloc[1:2]

In [ ]:
# Data selection based on Condition
df.loc[df.Rating > 2]

In [ ]:
df1

In [ ]:
# Row & Column label based selection
df1.loc['a']

In [ ]:
df1.iloc['a'] # This will throw error because iloc will not work on labels

In [ ]:
dframe

In [ ]:
# Data selection using Row Label
dframe['2020-01-20' : '2020-01-22' ]

In [ ]:
# Selecting all rows & selected columns
dframe.loc[:,['C1' , 'C7']]

In [ ]:
#row & column label based selection
dframe.loc['2020-01-20' : '2020-01-22',['C1' , 'C7']]

In [ ]:
# Data selection based on Condition
dframe[dframe['C1'] > 0.5]

In [ ]:
# Data selection based on Condition
dframe[(dframe['C1'] > 0.5) & (dframe['C4'] > 0.5)]

In [ ]:
# Data selection using position (Integer Index based)
dframe.iloc[0][0]

In [ ]:
# Select all rows & first three columns
dframe.iloc[:,0:3]

In [ ]:
dframe.iloc[0][0] = 10

In [ ]:
# Display all rows where C1 has value of 10 or 20
dframe[dframe['C1'].isin([10,20])]

Set Value

In [ ]:
# Set value of 888 for all elements in column 'C1'
dframe['C1'] = 888
dframe

In [ ]:
# Set value of 777 for first three rows in Column 'C6'
dframe.at[0:3,'C6'] = 777

In [ ]:
dframe

In [ ]:
# Set value of 333 in first row and third column
dframe.iat[0,2] = 333

In [ ]:
dframe

In [ ]:
dframe.iloc[0,2] = 555
dframe

In [ ]:
# Create Copy of the calling objects data along with indices.
# Modifications to the data or indices of the copy will not be reflected in the original ob
dframe1 = dframe.copy(deep=True)

In [ ]:
dframe1[(dframe1['C1'] > 0.5) & (dframe1['C4'] > 0.5)] = 0

In [ ]:
dframe1[dframe1['C1'] == 0]

In [ ]:
# Replace zeros in Column C1 with 99
dframe1[dframe1['C1'].isin([0])] = 99
dframe1

In [ ]:
dframe

In [ ]:
# Display all rows where value of C1 is 99
dframe1[dframe1['C1'] == 99]

Dealing with NULL Values

In [ ]:
dframe.at[0:8 , 'C7'] = np.NaN
dframe.at[0:2 , 'C6'] = np.NaN
dframe.at[5:6 , 'C5'] = np.NaN
dframe

In [ ]:
# Detect Non-Missing Values
# It will return True for NOT-NULL values and False for NULL values
dframe.notna()

In [ ]:
# Detect Missing or NULL Values
# It will return True for NULL values and False for NOT-NULL values
dframe.isna()

In [ ]:
# Fill all NULL values with 1020
dframe = dframe.fillna(1020)
dframe

In [ ]:
dframe.at[0:5 , 'C7'] = np.NaN
dframe.at[0:2 , 'C6'] = np.NaN
dframe.at[5:6 , 'C5'] = np.NaN
dframe

In [ ]:
# Replace Null values in Column 'C5' with number 123
# Replace Null values in Column 'C6' with number 789
dframe.fillna(value={'C5' : 123 , 'C6' : 789})

In [ ]:
#Replace first NULL value in Column C7 with 789
dframe.fillna(value={'C7' : 789} , limit=1)

In [ ]:
# Drop Rows with NULL values
dframe.dropna()

In [ ]:
# Drop Columns with NULL values
dframe.dropna(axis='columns')

In [ ]:
dframe

In [ ]:
# Drop Rows with NULL values present in C5 or C6
dframe.dropna(subset=['C5' ,'C6'])

Descriptive Statistics

In [ ]:
# Fill NULL values with 55
dframe.fillna(55 , inplace=True)
dframe

In [ ]:
# Mean of all Columns
dframe.mean()

In [ ]:
# Max value per column
dframe.max()

In [ ]:
# Min value per column
dframe.min()

In [ ]:
# Median
dframe.median()

In [ ]:
dframe.std() #Standard Deviation

In [ ]:
dframe.var() #Variance

In [ ]:
#Lower Quartile / First Quartile
dframe.quantile(0.25)

In [ ]:
#Second Quartile / Median
dframe.quantile(0.50)

In [ ]:
# Upper Quartile
dframe.quantile(0.75)

In [ ]:
#IQR (Interquartile Range)
dframe.quantile(0.75) - dframe.quantile(0.25)

In [ ]:
# SUM of column values
dframe.sum()

In [ ]:
# GENERATES DESCRIPTIVE STATS
dframe.describe()

In [ ]:
#Return unbiased skew
dframe.skew()

In [ ]:
# Return unbiased kurtosis using Fisherâ€™s definition of kurtosis
dframe.kurt()

In [ ]:
#Correlation
dframe.corr()

In [ ]:
#Covariance
dframe.cov()

In [ ]:
import statistics as st
dframe.at[3:6,'C1'] = 22
dframe

In [ ]:
# Average
st.mean(dframe['C1'])

In [ ]:
# Hormonic Mean
st.harmonic_mean(dframe['C1'])

In [ ]:
#Returns average of the two middle numbers when length is EVEN
arr = np.array([1,2,3,4,5,6,7,8])
st.median(arr)

In [ ]:
# low median of the data with EVEN length
st.median_low(arr)

In [ ]:
# High median of the data with EVEN length
st.median_high(arr)

In [ ]:
# Mode of Dataset
st.mode(dframe['C7'])

In [ ]:
# Sample Variance
st.variance(dframe['C1'])

In [ ]:
#Population Variance
st.pvariance(dframe['C1'])

In [ ]:
#Sample Standard Deviation
st.stdev(dframe['C1'])

In [ ]:
#Population Standard Deviation
st.pstdev(dframe['C1'])

Apply function on Dataframe

In [ ]:
dframe

In [ ]:
# Finding MAX value in Columns
dframe.apply(max)

In [ ]:
# Finding minimum value in Columns
dframe.apply(min)

In [ ]:
#Sum of Column Values
dframe.apply(sum)

In [ ]:
#Sum of Column Values
dframe.apply(np.sum)

In [ ]:
# Sum of rows
dframe.apply(np.sum ,axis=1)

In [ ]:
# Square root of all values in a DataFrame
dframe.applymap(np.sqrt)

In [ ]:
# Square root of all values in a DataFrame
dframe.applymap(math.sqrt)

In [ ]:
dframe.applymap(float)

In [ ]:
# Using Lambda function in Dataframes
dframe.apply(lambda x: min(x))

In [ ]:
# Using Lambda function in Dataframes
dframe.apply(lambda x: x*x)

Merge Dataframes

In [ ]:
daf1 = pd.DataFrame ({'id': ['1', '2', '3', '4', '5'], 
                      'Name': ['Miranda', 'Santos', 'Maria', 'Caique', 'Lauro']})
daf1

In [ ]:
daf2 = pd.DataFrame ({'id': ['1', '2', '6', '7', '8'], 'Score': [40 , 60 , 80 , 90 , 70]})
daf2

In [ ]:
# Inner Join
pd.merge(daf1, daf2, on='id', how='inner')

In [ ]:
# Full Outer Join
pd.merge(daf1, daf2, on='id', how='outer')

In [ ]:
# Left Outer Join
pd.merge(daf1, daf2, on='id', how='left')

In [ ]:
#Right Outer Join
pd.merge(daf1, daf2, on='id', how='right')

Importing multiple CSV files in DataFrame

In [ ]:
# Append all CSV files
path =r'C:\Users\DELL\Documents\GitHub\Public\COVID-19\COVID-19\csse_covid_19_data\csse_cov
filenames = glob.glob(path + "/*.csv")
covid = pd.DataFrame()

for f in filenames:
    df = pd.read_csv(f)
    covid = covid.append(df,ignore_index=True,sort=True)

In [ ]:
# Top 10 rows of the Dataframe
covid.head(10)